<style>
  .navbar {
   background-color: #000033;
   height: 60px;
   color: white;
   display: flex;
   align-items: center;
   padding-left: 20px;
 }
 
 .navbar-brand {
   color: white;
   text-decoration: none;
 }

 input[type="date"] {
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-right: 10px;
}

button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #000033;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #000066;
}

 
 </style>
 
 <nav class="navbar">
   <a class="navbar-brand" href="#">Festivos Colombia</a>
 </nav>
 <br>

 
 <input type="date" [(ngModel)]="fechaSeleccionada">
 <button (click)="validarFecha()">Validar Fecha</button>
 
<br>
<br>
<br>
<br>

<div>
 <input type="number" [(ngModel)]="anoSeleccionado" min="1900" max="2099" step="1">
<button (click)="obtenerFestivos()">Obtener Festivos</button>
</div>

<table>
  <tr>
    <th>Festivo</th>
    <th>Fecha</th>
  </tr>
  
  <tr *ngFor="let festivo of festivos">
    <td>{{festivo.festivo}}</td>
    <td>{{festivo.fecha}}</td>
  </tr>
</table>